@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive' as responsive;

.chipWrapper {
  position: relative;
  display: flex;
  width: 105px;
  height: 35px;
  margin: 0 5px;
  margin-top: 10px;

  &.isVertical {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 105px;
  }

  .eachBlock {
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 6px;

    &.color0 {
      background: colors.$RED;
      box-shadow: inset 0 0 0 4px colors.$RED, inset 0 0 0 7px colors.$RED_BORDER;
    }

    &.color1 {
      background: colors.$ORANGE;
      box-shadow: inset 0 0 0 4px colors.$ORANGE, inset 0 0 0 7px colors.$ORANGE_BORDER;
    }

    &.color2 {
      background: colors.$YELLOW;
      box-shadow: inset 0 0 0 4px colors.$YELLOW, inset 0 0 0 7px colors.$YELLOW_BORDER;
    }

    &.color3 {
      background: colors.$GREEN;
      box-shadow: inset 0 0 0 4px colors.$GREEN, inset 0 0 0 7px colors.$GREEN_BORDER;
    }

    &.color4 {
      background: colors.$BLUE;
      box-shadow: inset 0 0 0 4px colors.$BLUE, inset 0 0 0 7px colors.$BLUE_BORDER;
    }

    &.color5 {
      background: colors.$TEAL;
      box-shadow: inset 0 0 0 4px colors.$TEAL, inset 0 0 0 7px colors.$TEAL_BORDER;
    }
  }
}

@include responsive.after(SD) {
  .chipWrapper {
    display: flex;
    width: 180px;
    height: 60px;
    margin-top: 10px;

    &.isVertical {
      display: flex;
      flex-direction: column;
      width: 60px;
      height: 180px;
    }

    .eachBlock {
      display: block;
      width: 100%;
      height: 60px;
      border-radius: 8px;

      &.color0 {
        background: colors.$RED;
        border: 1px solid colors.$GRAYD;
        box-shadow: inset 0 0 0 5px colors.$RED, inset 0 0 0 8px colors.$RED_BORDER;
      }

      &.color1 {
        background: colors.$ORANGE;
        border: 1px solid colors.$GRAYD;
        box-shadow: inset 0 0 0 5px colors.$ORANGE, inset 0 0 0 8px colors.$ORANGE_BORDER;
      }

      &.color2 {
        background: colors.$YELLOW;
        border: 1px solid colors.$GRAYD;
        box-shadow: inset 0 0 0 5px colors.$YELLOW, inset 0 0 0 8px colors.$YELLOW_BORDER;
      }

      &.color3 {
        background: colors.$GREEN;
        border: 1px solid colors.$GRAYD;
        box-shadow: inset 0 0 0 5px colors.$GREEN, inset 0 0 0 8px colors.$GREEN_BORDER;
      }

      &.color4 {
        background: colors.$BLUE;
        border: 1px solid colors.$GRAYD;
        box-shadow: inset 0 0 0 5px colors.$BLUE, inset 0 0 0 8px colors.$BLUE_BORDER;
      }

      &.color5 {
        background: colors.$TEAL;
        border: 1px solid colors.$GRAYD;
        box-shadow: inset 0 0 0 5px colors.$TEAL, inset 0 0 0 8px colors.$TEAL_BORDER;
      }
    }
  }
}
