// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAY5E: #5e5e5e;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff1694;

$RED_BORDER: #ffb8b4;
$ORANGE_BORDER: #ffd9a4;
$YELLOW_BORDER: #ffeda4;
$GREEN_BORDER: #b5ecc3;
$TEAL_BORDER: #c5ebfd;
$BLUE_BORDER: #a4d0ff;
