@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive' as responsive;

.tableWrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;

  table {
    margin: 0 auto;
    border: 1px solid lightgray;

    tbody {
      border-bottom: 1px solid lightgray;

      tr {
        .tableCell {
          width: 40px;
          height: 40px;
          border: 1px solid black;

          &.color0 {
            background: colors.$RED;
          }

          &.color1 {
            background: colors.$ORANGE;
          }

          &.color2 {
            background: colors.$YELLOW;
          }

          &.color3 {
            background: colors.$GREEN;
          }

          &.color4 {
            background: colors.$TEAL;
          }

          &.color5 {
            background: colors.$BLUE;
          }

          &.color6 {
            background: colors.$INDIGO;
          }

          &.color7 {
            background: colors.$PURPLE;
          }

          &.color8 {
            background: colors.$PINK;
          }

          @include responsive.after(SD) {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
