@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive' as responsive;

.tableWrapper {
  width: 100%;

  table {
    display: table;
    margin: 0 auto;
    border-collapse: separate;

    tbody {
      tr {
        .tableCell {
          display: table-cell;
          width: 40px;
          height: 40px;
          border: 1px solid colors.$GRAY6;
          border-radius: 4px;

          &.color0 {
            background: colors.$RED_BORDER;
            border: none;
            box-shadow: inset 0 0 0 3px colors.$RED_BORDER, inset 0 0 0 8px colors.$RED;
          }

          &.color1 {
            background: colors.$ORANGE_BORDER;
            border: none;
            box-shadow: inset 0 0 0 3px colors.$ORANGE_BORDER, inset 0 0 0 8px colors.$ORANGE;
          }

          &.color2 {
            background: colors.$YELLOW_BORDER;
            border: none;
            box-shadow: inset 0 0 0 3px colors.$YELLOW_BORDER, inset 0 0 0 8px colors.$YELLOW;
          }

          &.color3 {
            background: colors.$GREEN_BORDER;
            border: none;
            box-shadow: inset 0 0 0 3px colors.$GREEN_BORDER, inset 0 0 0 8px colors.$GREEN;
          }

          &.color4 {
            background: colors.$BLUE_BORDER;
            border: none;
            box-shadow: inset 0 0 0 3px colors.$BLUE_BORDER, inset 0 0 0 8px colors.$BLUE;
          }

          &.color5 {
            background: colors.$TEAL_BORDER;
            border: none;
            box-shadow: inset 0 0 0 3px colors.$TEAL_BORDER, inset 0 0 0 8px colors.$TEAL;
          }

          @include responsive.after(SD) {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
